<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy – Health Share Usage Description</key>
	<string>We need your HealthKit data to calculate your Existence Store. Please approve the request. If you do, we will calculate the needed value and display it right here, girl</string>
</dict>
</plist>
